/Projeto1/nbproject/private/
/TecProg/Classes/nbproject/private/
/TecProg/Classes/build/
/TecProg/aula/nbproject/private/
/TecProg/aula/build/
/EstrDados/estruturaDados/nbproject/private/
/EstrDados/EstruturaDados/nbproject/private/
/EstrDados/EstruturaDados/build/
/TecProg/Aula3.Pessoa/nbproject/private/
/TecProg/Aula3.Pessoa/build/
/EstrDados/Aula4.Pilha/nbproject/private/
/EstrDados/Aula4.Pilha/build/
/EstrDados/Aula4.Fila/nbproject/private/
/EstrDados/Aula4.Fila/build/