/Projeto1/nbproject/private/
/TecProg/Classes/nbproject/private/
/TecProg/Classes/build/
/TecProg/aula/nbproject/private/
/TecProg/aula/build/
/EstrDados/estruturaDados/nbproject/private/
/EstrDados/EstruturaDados/nbproject/private/
/EstrDados/EstruturaDados/build/